@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-oxygen), sans-serif;
}

@font-face {
  font-family: 'Tan Meringue';
  src: url('/path-to-your-font-folder/tan-meringue.woff2') format('woff2'),
       url('/path-to-your-font-folder/tan-meringue.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.tanmeringue {
  font-family: 'Tan Meringue', sans-serif;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
